.heading{
    color:'red';
    margin-left: 120px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .heading {
        margin-left:50px ;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .heading {
   margin-left: 17px; ;
    }
}