.main-login{

    text-align: center;
    margin-top: 50px;
}
.login-form{
     margin-left: auto;
     margin-right: auto;
    width:30%;
    padding:10px 20px 10px 20px;
  margin-top: 20px;
}


.btn-color{
   
 background-color: #ffd814;
 border: 0px;
 width: 90%;
 display: flex;
 align-self: center;
 text-align: center;
 justify-content: space-between;
        
}
.card-body{
    padding: 12px !important;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .login-form {width: 50%;}
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
    .login-form {


        width: 100%;
    }
}