.accordion-button{

  background-color: #f5bb5c !important;
  border-radius: 20px !important;
  color: white !important;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.accordion-button:focus{
  border-color: #f5bb5c !important;
}

.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  margin: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 20px;
  cursor: pointer;

}